.form {
    margin-top: 8rem;
}

.button {
    margin-top: 1.5rem;
}

.heading {
    color: yellow;
}

.btn {
    padding: 0.5rem;
    width: 5rem;
    border-radius: 4rem;
    background-color: yellow;
    font-weight: bold;

}


.para {
    color: yellow;
    margin-left: -8rem;

}

.field {
    padding: 0.6rem;
    width: 12rem;
    border: 1px solid yellow;
    background-color: transparent;
    border-radius: 0.2rem;
}